<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 3</title>

    <body>
        <h1>Rohith Reddy Gurram</h1>
        <h2>ID: 1001959477</h2>
        <h2>Assignment 3</h2>
        
        <h2> Task 1 </h2>
        <h3> Question 1: </h3>
        <form action="{{ url_for("randomquery")}}" method="post">
            <label for="nooftimes">Enter the number of random queries to run:</label>
            <input type="number" id="nooftimes" name="num">
            <input type="submit" name="action"></button>
        </form>

        <h3> Question 2: </h3>
        <form action="{{ url_for("restrictedquery")}}" method="post">
            <label for="magnitude1">Lower Magnitude Range:</label>
            <input type="number" id="magnitude1" name="mag1">
            <label for="magnitude2">Higher Magnitude Range:</label>
            <input type="number" id="magnitude2" name="mag2">
            <label for="nooftimes">Number of times to loop:</label>
            <input type="number" id="nooftimes" name="num">
            <input type="submit" name="action"></button>
        </form>

        <h2> Task 2 </h2>
        <h3> Question 1: </h3>
        <form action="{{ url_for("randomquery_redis")}}" method="post">
            <label for="nooftimes">Enter the number of random queries to run:</label>
            <input type="number" id="nooftimes" name="num">
            <input type="submit" name="action"></button>
        </form>

        <h3> Question 2: </h3>
        <form action="{{ url_for("restrictedquery_redis")}}" method="post">
            <label for="magnitude1">Lower Magnitude Range:</label>
            <input type="number" id="magnitude1" name="mag1">
            <label for="magnitude2">Higher Magnitude Range:</label>
            <input type="number" id="magnitude2" name="mag2">
            <label for="nooftimes">Number of times to loop:</label>
            <input type="number" id="nooftimes" name="num">
            <input type="submit" name="action"></button>
        </form>
    </body>
</html>